@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{


if (Model.MacroParameters["Exhibition"]=="")
{
return;
}

  int exhibition = 0; int.TryParse(Model.MacroParameters["Exhibition"].ToString(), out exhibition);

    string condition = "";
    string sort = "beginDate ";
    
    var valuesFilter = new Dictionary<string, object>();

    valuesFilter.Add("Todate", DateTime.Now);

    condition = "beginDate > Todate";

    var items = Umbraco.Media(exhibition).Children().Where(condition, valuesFilter).OrderBy(sort);

    var TextHead = Model.MacroParameters["TextHead"];


    }
  

                                         <section id="Main">
                                             <div class="">
                                                 @*<h1 class="text-center"><strong>Upcoming</strong></h1>*@
                                                 @{if (TextHead !=null)
                                                 {
                                                 <h1 class="text-center"><strong>@TextHead </strong></h1>
                                                 }
                                                 }



                            <section class="cd-horizontal-timeline">

        <div class="timeline">
            <div class="events-wrapper">
                <div class="events">
                    <ol>

                        @{

                        var currentDate = DateTime.Today;
                        var dateNow = DateTime.Now.ToString("dd/MM/yyyy");

                       
                       
                         <li><a  id="aNow" href="#0" class="selected" data-date="@dateNow">@Umbraco.Field("#Now")</a></li> 
                        foreach(dynamic item in items){
                       

                            <li><a href="#0" class="" data-date='@item.GetPropertyValue("beginDate").ToString("dd/MM/yyyy")'>@item.GetPropertyValue("beginDate").ToString("dd MMM")</a></li>


                            }
                            }
                      


                    </ol>
                    <span class="filling-line" aria-hidden="true"></span>
                </div> <!-- .events -->
            </div> <!-- .events-wrapper -->

            <ul class="cd-timeline-navigation">
                <li><a id="prev" href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
        </div> <!-- .timeline -->
        <div class="events-content">
            <ol>
                @{

                condition = "(beginDate <= Todate) && (endDate >= Todate)";

                var Nowitems = Umbraco.Media(exhibition).Children().Where(condition, valuesFilter).OrderBy(sort);

                <li class="" data-date="@dateNow">
               
                 @foreach(dynamic Now in Nowitems){
                <p> <img class="img-center" src="@Now.image" alt="@Now.nameEn" /></p>
                <h2>@Now.GetPropertyValue("NameEn") </h2>
                <em>@Now.GetPropertyValue("beginDate").ToString("dd MMMM yyyy") - @Now.GetPropertyValue("endDate").ToString("dd MMMM yyyy") </em>
                <p  >
                    @Now.GetPropertyValue("DescriptionEn")
                </p>
                    <p class="text-center"><a class="button  " href='/en/exhibitions/past/exhibition/'>Read more</a></p>
                    <div class="seperator"> </div>
                     }
                
                  </li>
              

                foreach(dynamic item in items){
               
              
                <li class="" data-date="@item.GetPropertyValue("beginDate").ToString("dd/MM/yyyy")">
                <h2>@item.GetPropertyValue("NameEn") </h2>
                <p>  <img class="img-center" src="@item.image" alt="@item.nameEn" /> </p>

               
                <em>@item.GetPropertyValue("beginDate").ToString("dd MMMM yyyy") - @item.GetPropertyValue("endDate").ToString("dd MMMM yyyy") </em>
                <p>
                    @item.GetPropertyValue("DescriptionEn")
                </p>
                <p class="text-center"><a class="button  " href='/en/exhibitions/past/exhibition/'>Read more</a></p>
                </li>
                }
                }
            </ol>
        </div> <!-- .events-content -->
    </section>
                                             </div>
                                         </section>
     
   
<link href="~/Modules/horizontal-timeline/css/reset.css" rel="stylesheet" />
<link href="~/Modules/horizontal-timeline/css/style.css" rel="stylesheet" />
                                        
<script src="~/Modules/horizontal-timeline/js/modernizr.js"></script> 
<script src="~/Modules/horizontal-timeline/js/jquery.mobile.custom.min.js"></script> 
<script src="~/Modules/horizontal-timeline/js/main.js"></script>
   
                                         <link href="~/Modules/ReadMore/ReadMore.css" rel="stylesheet" />
                                         <script src="~/Modules/ReadMore/ReadMore.js"></script>
     <script>
         ReadMore.showMore = false;
         ReadMore.BindEvent();
        window.onload = function () {
            $('#aNow').click();
            $('#prev').click();
      
        };
     

    </script>