@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    string condition = "";
    string sort = "endDate descending";
    int blogId = 3576;
    var valuesFilter = new Dictionary<string, object>
    ();

    valuesFilter.Add("Todate", DateTime.Now);

    condition = "(beginDate <= Todate) && (endDate >= Todate)";

    var items = Umbraco.Media(blogId).Children().Where(condition, valuesFilter).OrderBy(sort);
    }
    <link href="~/Modules/horizontal-timeline/css/reset.css" rel="stylesheet" />
    <link href="~/Modules/horizontal-timeline/css/style.css" rel="stylesheet" />
    <script src="~/Modules/horizontal-timeline/js/modernizr.js"></script>
    <script src="~/Modules/horizontal-timeline/js/main.js"></script>
    <h1>ON VIEW</h1>

    <section class="cd-horizontal-timeline">

        <div class="timeline">
            <div class="events-wrapper">
                <div class="events">
                    <ol>

                        @{

                        var currentDate = DateTime.Today;
                        var dateNow = DateTime.Now.ToString("dd/MM/yyyy");

                        bool isfirst=true;
                        string select="selected";


                        foreach(dynamic item in items){
                        if (isfirst)
                        {
                        select="selected"; 
                       
                        }else
                        {
                        select="";
                        }

                        isfirst=false;
                       
                        if  (item.GetPropertyValue<DateTime>("beginDate") < currentDate)
                            {
                            <li><a href="#0" class="@select" data-date='@item.GetPropertyValue("beginDate").ToString("dd/MM/yyyy")'>@item.GetPropertyValue("beginDate").ToString("dd MMM")</a></li>

                            }
                            else
                            {
                            @*<li><a href="#0" class="" data-date='@dateNow'>Now</a></li>*@

                            }



                            }
                            }



                    </ol>
                    <span class="filling-line" aria-hidden="true"></span>
                </div> <!-- .events -->
            </div> <!-- .events-wrapper -->

            <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
        </div> <!-- .timeline -->
        <div class="events-content">
            <ol>
                @{

                bool isfirstRow=true;




                foreach(dynamic item in items){
                if (isfirstRow)
                {
                select="selected";
                }else
                {
                select="";
                }
                isfirstRow=false;
                <li class="@select" data-date="@item.GetPropertyValue("beginDate").ToString("dd/MM/yyyy")">

                <p> <img class="img-center" src="@item.image" alt="@item.nameEn" /></p>

                <h2>@item.GetPropertyValue("NameEn") </h2>
                <em>@item.GetPropertyValue("beginDate").ToString("dd MMMM yyyy") - @item.GetPropertyValue("endDate").ToString("dd MMMM yyyy") </em>
                <p>
                    @item.GetPropertyValue("DescriptionEn")
                </p>
                </li>
                }
                }

            </ol>
        </div> <!-- .events-content -->
    </section>
