@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    Macro to display a gallery of images from media the media section.
    Works with either a 'Single Media Picker' or a 'Multiple Media Picker' macro parameter (see below).

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Id's passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaIds     Name:Select folders and/or images    Type: Multiple Media Picker
       var mediaIds = Model.MacroParameters["mediaIds"];                                                      Type: (note: you can use a Single Media Picker if that's more appropriate to your needs)
*@
<script src="~/Modules/jquery-match-height-master/dist/jquery.matchHeight-min.js"></script>



@{

 var id = 5463; int.TryParse(Request.QueryString["id"], out id);

id = 5463;

    int blogId = 3576;
      var item= (dynamic)null;
 string condition = "Id ="+id.ToString();

  item= Umbraco.Media(blogId).Children().Where(condition);
 var   mediaIds=item.First().GetPropertyValue("artPieces2");

}
@if (mediaIds != null)
{

<div class="col-lg-12 text-center">
    <h1>Art Pieces </h1>
    @foreach (var mediaId in mediaIds.ToString().Split(','))
    {

    var media = Umbraco.Media(mediaId);

    @* a single image *@
    if (media.DocumentTypeAlias == "artPiecesMedia")
    {

    @Render(media);
    }

    @* a folder with images under it *@
    if (media.Children("artist").Any())
    {
    foreach (var image in media.Children("Image"))
    {
    @Render(image);
    }
    }

    }
</div>
}

@helper Render(dynamic item)
{


<div class="col-lg-4  text-center matchHeight">
    @*<a href="/en/exhibitions/past/artpiece/">  <figure class="snip1554 ">
      <img class="img-responsive  img-center " src="@item.image.src" alt="">

        <figcaption>
        </figcaption>
      
    </figure>
    <h4 class="NoPaddingNoMargin">@item.Name</h4></a>*@


 <figure class="snip1360">
  <img src="@item.image.src" alt="sample88" class="img-responsive  img-center"  />
  <figcaption>
    <h2>Man loses the lotto for the second time</h2>
    <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello? </p><a href="#" class="read-more">Read More</a>
  </figcaption>
</figure>
 
 


</div>

}

      @*<div class="text-center">
    <h1>Art Pieces </h1>
    <div id="ArtPieces">

        <div class="col-md-4 matchHeight text-center">
            <figure class="snip1554">
                <img class="img-responsive  img-center" src="/media/1087/large-1.jpg" alt="">

                <figcaption>
                </figcaption>
                <a href="#"></a>
            </figure>
            <h4 class="NoPaddingNoMargin">Visite de la sphinge</h4>
        </div>

        <div class="col-md-4 matchHeight text-center">
            <figure class="snip1554">
                <img class="img-responsive  img-center" src="/media/1998/19-38-2t.jpg" alt="">

                <figcaption>
                </figcaption>
                <a href="#"></a>
            </figure>
            <h4 class="NoPaddingNoMargin">Art000999</h4>
        </div>

        <div class="col-md-4 matchHeight text-center">
            <figure class="snip1554">
                <img class="img-responsive  img-center" src="/media/1999/31-52-2c.jpg" alt="">

                <figcaption>
                </figcaption>
                <a href="#"></a>
            </figure>
            <h4 class="NoPaddingNoMargin">Art00011231</h4>
        </div>

        <div class="col-md-4 matchHeight text-center">
            <figure class="snip1554">
                <img class="img-responsive  img-center" src="/media/1991/32-53-1t-1.jpg" alt="">

                <figcaption>
                </figcaption>
                <a href="#"></a>
            </figure>
            <h4 class="NoPaddingNoMargin">Picture</h4>
        </div>

        <div class="col-md-4 matchHeight text-center">
            <figure class="snip1554">
                <img class="img-responsive  img-center" src="/media/1997/9-28-3t-1.jpg" alt="">

                <figcaption>
                </figcaption>
                <a href="#"></a>
            </figure>
            <h4 class="NoPaddingNoMargin">Art000999</h4>
        </div>

        <div class="col-md-4  text-center">
            <figure class="snip1554">
                <img class="img-responsive   img-center" src="/media/1993/14-33-2t-4.jpg" alt="">

                <figcaption>
                </figcaption>
                <a href="#"></a>
            </figure>
            <h4 class="NoPaddingNoMargin">Art0001</h4>
        </div>
    </div>
</div>*@


<script>
    $(function () {
        $('.matchHeight').matchHeight({
            byRow: false,remove: false
        }  );
    });

</script>