@inherits Umbraco.Web.Macros.PartialViewMacroPage

<script src="/Modules/paginate/jquery.simplePagination.js"></script>
<link href="/Modules/paginate/simplePagination.css" rel="stylesheet" />
<script src="/Modules/Pws/PWSCallService.js"></script>
<script src="/Modules/mustache/mustache.js"></script>
<script src="/Modules/UmbracoImage/UmbracoImage.js"></script>

<script id="ListTemplate" type="x-tmpl-mustache">
    {{#Data}}
    <div class="row">
        <div class="col-lg-3"><img src='{{logoUrl}}' class="img-thumbnail img-responsive img-center"> </div>
        <div class="col-lg-9">

            <a href="post.Url"><h3>{{name}}</h3>		</a>
            <div class="date">{{title}}</div>
            <p>{{introduction}}</p>
        </div>
    </div>
    <hr>

    {{/Data}}
</script>

<script>
    $(document).ready(function () {

        initEvent();

        RenderList();
        //SetPagger2();
    });

    function initEvent() {
        $('#aPast').on('click', function (event) {
            event.preventDefault();

            RenderList();

        });
        $('#aUpcoming').on('click', function (event) {
            //alert('frr');

        });

    };

    var PageIndex = '1';
    var PageSize = '10';

    function RenderList() {

        //Render List
        var url = 'RazorJson?page=' + PageIndex;
        CallServices(url, '', true, function (msg) {

            //Reder Data ListTemplate
            console.log(msg);
            SetList(msg);
            SetPagger(30);
        });

    }

    function SetList(msg) {
        var template = $('#ListTemplate').html();
        Mustache.parse(template);   // optional, speeds up future uses

        msg = ConvertDataByLanguage(msg);

        var rendered = Mustache.render(template, { Data: msg });
        $('#divList').html('');
        $('#divList').html(rendered);

        //Set Pagger
        SetPagger(30);

    }

    function SetPagger(RecordCount) {
        $('#ulpage').pagination({
            items: RecordCount,
            itemsOnPage: PageSize,

            //prevText: '<img class="iconDirection" src="Images/1457020750_arrow-left-01.svg" />',
            //nextText: '<img class="iconDirection" src="Images/1457020740_arrow-right-01.svg" />',

            currentPage: PageIndex,//cssStyle: 'light-theme',
            onPageClick: function (event) {

                //Set Global Page
                if (event < 10) {
                    PageIndex = '0' + event;
                }
                else {
                    PageIndex = event; 
                }
                //-Set Global Page
                RenderList();
            }

        });

    }

    function ConvertDataByLanguage(data) {
        for (var key in data) {

            var preFixLang = 'En';
            data[key]["name"] = data[key]["name" + preFixLang];
            data[key]["title"] = data[key]["title" + preFixLang];
            data[key]["introduction"] = data[key]["introduction" + preFixLang];

            var ImageUmbracoString = data[key]["logo"];
            data[key]["logoUrl"] = UmbracoImageUrl(ImageUmbracoString);

        }

        return data;
    }
</script>

<div role="content">
    <section class="light blogarchive equalizer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    <div class="list-group">
                        <a href="#" class="list-group-item active">On View</a>
                        <a href="#" id="aUpcoming" class="list-group-item">Upcoming</a>
                        <a href="#" id="aPast" class="list-group-item">Past</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="divList">
                        @{ var blogNode = Umbraco.Content(1122);  }
                        @foreach(var post in blogNode.Children)
                        {

                        <div class="row">
                            <div class="col-lg-3"><img src='@post.Logo' class="img-thumbnail img-responsive img-center"> </div>
                            <div class="col-lg-9">

                                <a href="@post.Url"><h3>@post.Name</h3>		</a>
                                <div class="date">@post.CreateDate.ToLongDateString()</div>
                                <p>@Umbraco.Truncate(post.IntroductionEn, 240, true)</p>
                            </div>
                        </div>
                        <hr>

                        }
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="pagination" class="text-center">  </div>

                            <ul id="ulpage" class="pagination text-center"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>