@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
<script src="/Modules/Simple-Boostrap-Pagination-Plugin/simple-bootstrap-paginator.js"></script>*@
@*
<script src="/Modules/paginate/jquery.paginate.js"></script>*@
<script src="/Modules/paginate/jquery.simplePagination.js"></script>
<link href="/Modules/paginate/simplePagination.css" rel="stylesheet" />
<script src="/Modules/Pws/PWSCallService.js"></script>
<script src="/Modules/mustache/mustache.js"></script>

<script id="ListTemplate" type="x-tmpl-mustache">
    {{#Data}}
    <div class="row">
        <div class="col-lg-3"><img src='post.Logo' class="img-thumbnail img-responsive img-center"> </div>
        <div class="col-lg-9">

            <a href="post.Url"><h3>{{name}}</h3>		</a>
            <div class="date">{{title}}</div>
            <p>{{introduction}}</p>
        </div>
    </div>
    <hr>

    {{/Data}}

</script>

  @{ var blogNode = Umbraco.Content(1122);  }
<script>
    $(document).ready(function () {

        initEvent();
        SetPagger(30);
        //SetPagger2();
    });

    function initEvent() {
        $('#aPast').on('click', function (event) {
            event.preventDefault();

            var url = 'RazorJson?page=5';
            CallServices(url, '', true, function (msg) {

                //Reder Data ListTemplate
                console.log(msg);
                var template = $('#ListTemplate').html();
                Mustache.parse(template);   // optional, speeds up future uses

                
                msg = ConvertDataByLanguage(msg);
                var rendered = Mustache.render(template, { Data: msg });
                $('#divList').html('');
                $('#divList').html(rendered);


            });

        });
        $('#aUpcoming').on('click', function (event) {
            //alert('frr');

        });

    };

    var PageIndex = '1';
    var PageSize = '10';

    function SetPagger(RecordCount) {
        $('#ulpage').pagination({
            items: RecordCount,
            itemsOnPage: PageSize,

            //prevText: '<img class="iconDirection" src="Images/1457020750_arrow-left-01.svg" />',
            //nextText: '<img class="iconDirection" src="Images/1457020740_arrow-right-01.svg" />',

            currentPage: PageIndex,//cssStyle: 'light-theme',
            onPageClick: function (event) {

                if (event < 10) {
                    PageIndex = '0' + event;
                }
                else {
                    PageIndex = event;
                }
                SetTable();
            }

        });

    }

    function ConvertDataByLanguage(data)
    {
        for (var key in data) {
            //var jsonStringImage = PaintItem[key]["artistImage"];

            //var ImageObject = ConvertToJson(jsonStringImage)

            //PaintItem[key].src = PaintItem[key]["src"];

            //PaintItem[key].Thumbnail = PaintItem[key]["Thumbnail"];

            //PaintItem[key].fileName = UmbracoFileName(ImageObject);

            //PaintItem[key]["artist"] = PaintItem[key]["artist" + preFixLang];

            //PaintItem[key]["award"] = PaintItem[key]["award" + preFixLang];

            //PaintItem[key]["faculty"] = PaintItem[key]["faculty" + preFixLang];

            //PaintItem[key]["history"] = PaintItem[key]["history" + preFixLang];
            var preFixLang = 'En';
            data[key]["name"] = data[key]["name" + preFixLang];
            data[key]["title"] = data[key]["title" + preFixLang];
            data[key]["introduction"] = data[key]["introduction" + preFixLang];


            var ImageUmbracoString = data[key]["logo"];
            data[key]["iconUrl"] = UmbracoImageUrl(ImageUmbracoString);
      
        }

        return data;
    }

</script>



<div role="content">
    <section class="light blogarchive equalizer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <hr style="visibility:hidden" />
                    <div class="list-group">
                        <a href="#" class="list-group-item active">On View</a>
                        <a href="#" id="aUpcoming" class="list-group-item">Upcoming</a>
                        <a href="#" id="aPast" class="list-group-item">Past</a>
                    </div>
                </div>
                <div id="divList" class="col-md-9">
                    <hr style="visibility:hidden" />
                    @foreach(var post in blogNode.Children)
                    {

                    <div class="row">
                        <div class="col-lg-3"><img src='@post.Logo' class="img-thumbnail img-responsive img-center"> </div>
                        <div class="col-lg-9">

                            <a href="@post.Url"><h3>@post.Name</h3>		</a>
                            <div class="date">@post.CreateDate.ToLongDateString()</div>
                            <p>@Umbraco.Truncate(post.IntroductionEn, 240, true)</p>
                        </div>
                    </div>
                    <hr>

                    }
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="pagination" class="text-center"></div>
                            <ul id="ulpage" class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>